<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Showing customer</h1>

<p>
  <strong>Nome:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Smoker:</strong>
  <%= @customer.smoker %>
</p>

